@import "../../theme/";

.container {
  border-radius: 2%;
  padding: 6%;

  background: $white;

  @media (max-width: 600px) {
    width: 23rem;
  }

  @media (min-width: 601px) {
    width: 34rem;
  }

  header {
    padding: 5%;
    display: flex;
    justify-content: center;
  }
  .text {
    margin-top: 2%;
    b {
      color: $purple;
    }
  }
}

.header-icon {
  width: 8rem;
  height: 0.7rem;
  background: #e5d8ea;
  border-radius: 999px;
}

.container-avatar {
  margin-top: 7%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  .avatar-cont {
    width: 12rem;
    background-image: url("./../../assets/car.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
  }
  .avatar {
    position: relative;
  }
  .username {
    margin-left: 7%;
    h5 {
      margin-top: 7%;
    }
  }
  .avatar-review {
    background: $text;
    color: $white;
    border-radius: 15.6862px;
    width: 15%;
    margin: 1.5%;
    position: absolute;
    top: 60%;
    .cont {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 7%;
        margin-right: 4%;
      }
    }
  }
}

.container-input-search {
  margin-top: 8%;
  margin-bottom: 8%;
  input::placeholder {
    color: $text;
  }
  input {
    all: unset;
    background: $gray;
    color: $text;
    @media (max-width: 600px) {
      width: 60%;
      padding: 4%;
    }
    @media (min-width: 601px) {
      width: 60%;
      padding: 3%;
    }
    border-radius: 24px;
    display: inline-block;
  }
}

.container-btns {
  display: flex;
  align-items: center;
  img {
    @media (max-width: 600px) {
      display: none;
    }
    @media (min-width: 601px) {
      margin-left: 2%;
      margin-right: 2%;
    }
    cursor: pointer;
    transition-duration: 0.4s;
    &:hover {
      opacity: 0.8;
    }
  }
  button {
    background: $green;
    border-radius: 8px;
    border: none;
    @media (min-width: 601px) {
      margin-left: 2%;
      margin-right: 2%;
      padding: 10%;
    }
    @media (max-width: 600px) {
      padding: 20%;
    }
    strong {
      color: $gray;
    }
  }
}

